@import 'bourbon/bourbon';

// light colors
$white        : #ffffff;
$grey         : #d0d0d0;
$light-green  : #2ecc71;
$light-red    : #e74c3c;
$light-blue   : #3498db;
$light-orange : #e67e22;
$light-grey   : #e3e3e3;


// configurable options
$switch-name         : 'switch';
$switch-width        : 50px;
$switch-height       : ($switch-width * 60) / 100;
$switch-border-width : 1px;
$classes             : (
  warning : $light-orange,
  danger  : $light-red,
  info    : $light-blue
);

// non configurable options
$switch-radius           : $switch-height / 2;
$switch-handler-width    : $switch-height - ($switch-border-width * 2);
$switch-handler-height   : $switch-handler-width;
$switch-handler-left     : $switch-width - $switch-handler-width - ($switch-border-width * 2);
$switch-transition-speed : .3s;

.#{$switch-name} {
  display: inline-block;
  @include user-select(none);

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    /**
     * Switch Container
     */
    + label {
      display: block;
      position: relative;
      width: $switch-width;
      height: $switch-height;
      vertical-align: middle;

      border: $switch-border-width solid $light-grey;
      border-radius: $switch-radius;
      background-color: $light-grey;
      cursor: pointer;

      @include box-sizing(border-box);
      @include transition(
        border $switch-transition-speed,
        box-shadow $switch-transition-speed
      );

      /**
       * Switch Handler
       */
      &:after {
        content: " ";
        display: inherit;

        width: $switch-handler-width;
        height: $switch-handler-height;

        background: $white;
        border-radius: $switch-handler-height / 2;
        box-shadow: 0 2px 3px rgba(0,0,0,.3);

        @include transition(
          transform $switch-transition-speed ease-in-out,
          width $switch-transition-speed ease-in-out
        );
      }
    }

    &:checked {
      + label {
        border-color: $light-green;
        background-color: $light-green;
        box-shadow: inset 0px 0px 0px (($switch-height * 53.33) / 100) $light-green;

        @include transition(
          background-color $switch-transition-speed * 3,
          box-shadow $switch-transition-speed,
          border $switch-transition-speed
        );

        &:after {
          @include transform(translateX($switch-handler-left));
        }
      }
    }

    /**
     * Disabled Input
     */
    &:disabled,
    &:disabled:checked {
      + label {
        background-color: $light-grey;
        border-color: $light-grey;
        cursor: default;
        box-shadow: none;
      }
    }
  }

  /**
   * Color Classes
   */
  @each $key, $value in $classes {
    &.#{$switch-name}-#{$key} input:checked + label {
      background-color: $value;
      border-color: $value;
      box-shadow: inset 0px 0px 0px 16px $value;
    }
  }
}